*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
    margin-top: 60px;
}

img:hover{
    cursor: pointer;
    transform: scale(1.3) rotateY(30deg) rotateZ(10deg);
    transition: 2s;
}

h1{
    color: #ff6d39;
    font-family: "muli";
    font-weight: bold;
    font-size: 22px;
    margin-top: 21px;
    display: inline-block;
}

i.fa.fa-search{
    margin-left: 30px;
}

.product-name i{
    color: #fff;
    transition: .3s all ease;
    margin: 0 12px;
}

.product-name i:hover{
    color: #ff6d39;
    cursor: pointer;
}

h3{
    color: #fff;
    font-family: "muli";
    margin-top: 84px;
    font-size: 20px;
    font-weight: 500;
}

h2{
    color: #fff;
    font-family: "muli";
    margin-top: 10px;
    font-size: 20px;
    font-weight: 800;
}

h4{
    display: inline-block;
    color: #fff;
    font-family: "muli";
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

h4.das{
    display: inline-block;
    color: #fff;
    font-family: "muli";
    font-weight: 400;
    font-size: 17px;
    margin-left: 30px;
    text-decoration: line-through #ea3201;
}


h4.das span{
    text-decoration: line-through #fec60f;
}
ul{
    list-style-type: none ;
}

li{
    display: inline-block;
    margin-right: 25px;
}

ul li{
    color: #fff;
    font-family: "muli";
    margin-top: 20px;
    font-size: 11px;
    font-weight: 500;
}

.bg{
    width: 15px;
    height: 15px;
    text-align: center;
    padding: 2px;
    margin-right: 20px;
    transition: .3s all ease;
    border-radius: 50%;
}

.bg:hover{
    background-color: #ff6d39;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    cursor: pointer;
}


.card{
    display: flex;
    align-items: center;justify-content: center;
    height: 100vh;
    width: 100vw;
}

.left{
    content: "";
    height: 368px;
    width: 230px;
    display: flex;
    align-items: center;
    background-color: #ff6d39;
    border-radius: 0 50% 50% 0;
    position: absolute;
    z-index: 5;
}

.right{
    content: "";
    height: 368px;
    width: 550px;
    background-color: #2a2f40;
    z-index: 3;

}

.product-info{
    position: absolute;
    margin-left: 250px;
    height: 394px;
    width: 305px;
    z-index: 10;
}

.foot{
    color: #fff;
    font-family: "muli";
    margin-top: 20px;
    margin-right: 50px;
    font-size: 11px;
    float: left;
    font-weight: 500;
    transition: .3s all ease;
}

.foot i:nth-child(1){
    margin-left: 0;
    margin-right: 15px;
}

.foot:hover{
    color: #ff6d39;
    cursor: pointer;
}

.yellow{
    content: "";
    width: 13px;
    height: 13px;
    background-color: #fec60f;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .3s all ease;
}
.black{
    content: "";
    width: 13px;
    height: 13px;
    background-color: #000;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .3s all ease;
}
.blue{
    content: "";
    width: 13px;
    height: 13px;
    background-color: #02a2ca;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .3s all ease;
}

.yellow:hover,
.black:hover,
.blue:hover{
    border: 2px solid #ff6d39;
    width: 13px;
    height: 13px;
    border-radius: 50%];
    cursor: pointer;
}

